# Xcode
DerivedData/
xcuserdata/
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Env files
*.xcconfig
*.env

